:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width: 960px;

  --accent-color: #99b4d0;
  --primary-color: #417ceb;

  --light-gray: #666;
  --dark-gray: #333;
  --very-light-gray: #eaeaea;
  --white: #fff;

}

.active {
  color: #333;
  border-bottom: var(--accent-color) 2px solid;
  padding-bottom: 2px;
}